<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link hover-color-secondarycolor"
           href="/exam/edit/9e786b2f-4651-48bd-9fb4-28e70aeebe63">Edit Exam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Add Question</a>
    </li>
    <li class="nav-item">
        <a class="nav-link hover-color-secondarycolor"
           href="/exam/sortquestion/9e786b2f-4651-48bd-9fb4-28e70aeebe63">Arrange Question Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link hover-color-secondarycolor"
           href="/exam/allocatemarks/9e786b2f-4651-48bd-9fb4-28e70aeebe63">Allocate Marks</a>
    </li>
</ul>


<form action="/exam/addquestion/9e786b2f-4651-48bd-9fb4-28e70aeebe63" class="form-horizontal"
      enctype="multipart/form-data" method="post" role="form">
    <input id="Id" name="Id" type="hidden"
           value="9e786b2f-4651-48bd-9fb4-28e70aeebe63" /><input data-val="true"
                                                                 data-val-required="Field is required." id="Name" name="Name" type="hidden" value="exam history" /><input data-val="true" data-val-required="Field is required." id="RandomizeQuestions" name="RandomizeQuestions"
                                                                                                                                                                          type="hidden" value="False" />
    <section class="section">
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600">Add Question for Exam</h2>
            <div class="mb-4">
                Please ensure that all questions and answers are correct before the exam starts,
                as it is not possible to add or delete questions while students are taking the exam. However, if
                your answer to a question is incorrect, you can still correct it after the exam has ended. The
                system will regrade the students&#x27; scores automatically.
            </div>
            <div class="row gx-1">
                <div class="alert alert-info">
                    Total Questions: <span id="totalquestion"></span>
                </div>
            </div>
            <div class="row g-0 position-relative w-100 h-100">
                <div class="spinner-container d-none">
                    <div class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                        <div class="py-3">
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong>
                                &nbsp; Loading...
                            </strong>
                        </div>
                    </div>
                </div>
                <div id="question-partialview">
                    <!-- display a dummy empty table while loading the data -->
                    <div class="table-responsive mb-5">
                        <table class="table table-hover align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="thead"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="py-4"></div>
                    <div class="dummyfooter row justify-content-between mt-5">
                        <div class="col-md-6">Showing 0 to 0 of 0 entries</div>
                        <div class="col-md-6 text-end">Page 0 of Page 0</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn form-btn btn-primary hover-boxshadow">Save</button>
            </div>
        </div>
    </section>
    <input name="__RequestVerificationToken" type="hidden"
           value="CfDJ8PhlRww5SZZDgQOdb6RELKw6sIF5LcPRPBWYXG346UrfdexNxkfGCYvMVFDk-mrh7Q8N_rLh9-towJh92z0lRkJ06qUc5rD1RXYuS1J2VydOdHCzO01_6YQ8ap9e0VbBkPebku7G5m6nHX_jvI7snyY2WwbmGOg5oLHPC7MJbD9C1KAGfX57gO3JZGNNwBloZw" />
</form>
<div id="questionSelectedtoast-container" class="position-fixed top-0 mx-auto p-4 toast-container">
    <div id="questionSelectedtoast" class="toast mx-auto bg-info text-white border-0" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-header justify-content-between bg-info text-white border-bottom-0">
            <div class="text-white">
                <i class="fa-solid fa-circle-check pe-1"></i> <strong class="me-auto">Total Questions:</strong>
            </div>
            <button type="button" class="text-end border-0 bg-transparent text-white fs-18 p-0 hover-opacity"
                    data-bs-dismiss="toast" aria-label="Close">
                X
            </button>
        </div>
        <div class="toast-body bg-info text-white border-0">
        </div>
    </div>
</div>