
<section id="hero" class="py-12" data-img="~/ahome/assets/back.png">
    <div class="container py-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="py-2 pe-lg-5">
                    <h1 class="fs-48 fw600">Revolutionize how you evaluate your students</h1>
                    <div class="fs-16 pt-2">
                        ExamEase is an online exam system that delivers exam management,
                        question bank management, automated grading, an analytical dashboard, and more.
                    </div>
                    <div class="pt-3">
                        <span class="nav-link p-0 m-0">
                            <a class="border-0 bg-secondarycolor hover-bg-primarycolor color-white hover-color-white btn-padding rounded hover-boxshadow fs-16 d-inline-block hover-moveup"
                               href="/User/Register">Sign Up</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/ahome/assets/hero.png" class="img-fluid text-start" style="width:90%;" alt="">
            </div>
        </div>
    </div>
</section>
<section id="whyus" class="pt-0 pb-12">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center text-center">
            <div class="col-lg-6">
                <div class="fs-20 fw500 color-primarycolor">Why ExamEase</div>
                <div class="fs-32 fw600 text-capitalize lh-base">
                    Randomizing Question Order, Scheduling Exam
                    Start Date &amp; Time, Storing Your Question Bank, And More.
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center mt-3">
            <div class="col-lg-4">
                <div class="p-5 bg-white shadow">
                    <div class="py-5">
                        <img src="~/ahome/assets/whyus1.png" class="img-fluid" alt="">
                        <div class="fs-22 fw600 text-capitalize lh-base pt-2">Reusable Questions</div>
                        <p>
                            Save your question bank and re-use it in different exams with different mark
                            distributions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="p-5 bg-white shadow">
                    <div class="py-5">
                        <img src="~/ahome/assets/whyus2.png" class="img-fluid" alt="">
                        <div class="fs-22 fw600 text-capitalize lh-base pt-2">Save Your Time</div>
                        <p>
                            Say goodbye to the hassle of paper-based exams and the time-consuming manual grading
                            system.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="p-5 bg-white shadow">
                    <div class="py-5">
                        <img src="~/ahome/assets/whyus3.png" class="img-fluid" alt="">
                        <div class="fs-22 fw600 text-capitalize lh-base pt-2">Simple Process</div>
                        <p>
                            Streamline your examination process. Create exam, select questions from question
                            bank, allocate marks, done!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="pt-6 pb-12">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center text-center mb-3">
            <div class="col-lg-6">
                <div class="fs-20 fw500 color-primarycolor">Features</div>
                <div class="fs-32 fw600 text-capitalize lh-base">
                    ExamEase Contains Full Essential Features To
                    Conduct An Exam.
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly align-items-stretch text-center g-4">
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="System admin can create, update and delete users. Students and teachers can register an account by themselves too.">
                    <div class="fs-17">Features</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Save your question bank and re-use it in different exams with different mark distributions.">
                    <div class="fs-17">Store question bank</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="You can save an exam now and schedule it to start later. Then, publish an exam when it is ready to be announced to the students.">
                    <div class="fs-17">Schedule exam</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Students&#x27; results can be exported to Excel or PDF. You can also sort the result list by student score to see the top students in the exam.">
                    <div class="fs-17">Students&#x27; result</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="You can create questions in batches by importing them from Excel.">
                    <div class="fs-17">Import questions</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="You can create user accounts in batches by importing them from Excel.">
                    <div class="fs-17">Import users</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="You can choose to randomise or un-randomize the question order of an exam. Randomizing questions can prevent cheating because students cannot discuss the answers as they are getting different questions at one time.">
                    <div class="fs-17">Randomize question</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="You can choose to release or unrelease the answers to the questions. Before the answers are released, students will get their results but will not be able to see the correct answers. We recommend releasing the answer only after all the students have taken the exam.">
                    <div class="fs-17">Release answer</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Students&#x27; result can be exported to excel or pdf.">
                    <div class="fs-17">Export result</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="If a teacher selects the wrong answer as the correct one and discovers this after the students have taken the exam, their results will be re-graded automatically if they want to change the answer.">
                    <div class="fs-17">Automatic regrading</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Charts to analyze results, questions that most students answered incorrectly, and more.">
                    <div class="fs-17">Analyze Chart</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="py-4 px-5 bg-white hover-bg-primarycolor hover-color-white shadow"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Cannot skip questions. Cannot copy the question text while taking the exam.">
                    <div class="fs-17">Strict rules</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="faq" class="pb-12">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center text-center">
            <div class="col-lg-6">
                <div class="fs-20 fw500 color-primarycolor">FAQ</div>
                <div class="fs-32 fw600 text-capitalize lh-base">Frequently Asked Questions</div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center pt-4">
            <div class="col-lg-8">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header color-white" id="headingOne">
                            <button class="accordion-button plusminus-icon bg-img-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                How is the support policy?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-start">
                                We only provide support for fixing existing bugs in the templates and answering
                                questions regarding the existing features. Step-by-step guidance on how to do
                                your custom modifications, how to solve bugs after your own modifications and
                                direct installation are not part of our support. Thank you so much for your
                                understanding. We will spend our time to create more amazing templates for you.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button plusminus-icon collapsed bg-img-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                When can I download the file after purchase the item?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body text-start">
                                Answer is: Immediately after purchase.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button plusminus-icon collapsed bg-img-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Can I edit or remove the Copyright text at the footer?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-start">
                                Yes, you can. Go to &quot;/Views/Shared/_FooterBeforeLogin.cshtml&quot; and find
                                the footer section to edit or remove the copyright text.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <a class="fs-18 color-secondarycolor hover-color-primarycolor d-inline-block hover-moveup"
                       href="https://auratheme.notion.site/FAQ-24c18b1c67e64af5b9b0f39f118641d2"
                       target="_blank">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>