@model ExamationOnline.Models.Exam

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <h4 class="pagetitle mb-sm-0 fw600">Confirm Take Exam</h4>
            <a href="/Student/StudentExam/ListCurrentExam" class="btn btn-secondary">
                Back to Exams
            </a>
        </div>
    </div>
</div>
<section class="section mt-3">
    <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
        <h2 class="fs-20 fw600 mb-4">Ready to start the exam?</h2>
        <p class="mb-4">
            Caution! Please save your answer before clicking the "Next" button because you
            cannot return to previous questions after clicking the button.
        </p>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="Name">Name</label>: @Model.ExamName</div>
        </div>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="Duration">Duration (minute)</label>: @Model.Duration (Minutes)</div>
        </div>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="TotalQuestions">Total Questions</label>: @(Model.TotalQuestion ?? 0)</div>
        </div>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="EndTime">End Time</label>: @(Model.EndDate?.ToString("dd/MM/yyyy HH:mm"))</div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <a class="btn btn-primary me-2" href="/Student/StudentExam/TakeExam/@Model.ExamId">
                Start Now!
            </a>
            <a class="btn btn-secondary" href="/Student/StudentExam/ListCurrentExam">
                Cancel
            </a>
        </div>
    </div>
</section>