
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <h4 class="pagetitle mb-sm-0 fw600">Test20250324</h4>
        </div>
        <div>Test20250324</div>
    </div>
</div>
<section class="section mt-3">
    <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
        <h2 class="fs-20 fw600 mb-4">Ready to start the exam?</h2>
        <p class="mb-4">
            Caution! Please save your answer before clicking the &quot;Next&quot; button because you
            cannot return to previous questions after clicking the button.
        </p>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="Name">Name</label>: Test20250324</div>
        </div>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="Duration">Duration (minute)</label>: 30 (Minutes)</div>
        </div>
        <div class="mb-3 text-break">
            <div><label class="fw600" for="TotalQuestions">Total Questions</label>: 6</div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <a class="btn form-btn btn-primary hover-boxshadow me-1"
               href="/studentexam/takeexam?eid=a7ddb007-b0a3-4479-83aa-d136199e91a2&amp;sId=377ed889-a237-4ab1-bd04-d96cb9b4aa30&amp;num=1">
                Start Now!
            </a>
        </div>
    </div>
</section>