
<div class="row">
    <div class="col-12">
        <div style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item fw-normal">
                    <a class="color-primarycolor opacity-50"
                       href="/studentexam/pastexam">Past Exams</a>
                </li>
                <li class="breadcrumb-item fw-normal active">Test20250324 Result</li>
            </ol>
        </div>
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <h4 class="pagetitle mb-sm-0 fw600">Test20250324 Result</h4>
        </div>
    </div>
</div>

<section class="section mt-3">
    <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_ExamName">Exam Name</label></div>
                    <div>Test20250324</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_StudentName">Student Name</label></div>
                    <div>abcabc</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_Passed">Result Status</label></div>
                    <div>
                        <span class="badge bg-success text-black fw500 fs-13">Passed</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_ScoreToPass">Score To Pass</label></div>
                    <div>50.00</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_YourScore">Your Score</label></div>
                    <div>60 / 100.00</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_AnsweredCorrect">Answered Correct</label></div>
                    <div>4 / 6</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_StartDateTime">Start Date &amp; Time</label></div>
                    <div class="datetimetext">2025-03-29T07:30</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_EndDateTime">End Date &amp; Time</label></div>
                    <div class="datetimetext">2025-03-29T07:34</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="ResultView_TimeTaken">Time Taken</label></div>
                    <div>3.7 Minutes</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/studentexam/pastexam">
                Back To
                List
            </a>
            <span class="btn form-btn btn-primary hover-boxshadow cursor-pointer me-1"
                  onclick="window.print()">Print Result</span>
        </div>
    </div>
</section>