<section class="section">
    <form action="/question/edit/8d0173b1-beda-4b0b-b7ab-ec1e20958dc7" class="form-horizontal"
          enctype="multipart/form-data" method="post" role="form">
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="QuestionTitle">Question Title</label>
                            <textarea class="form-control" data-val="true"
                                      data-val-required="Field is required." id="QuestionTitle" name="QuestionTitle"
                                      rows="3">sad</textarea>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="QuestionTitle"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="SubjectId">Subject</label> <a class="color-secondarycolor fs-12 hover-color-primarycolor" href="/subject/edit"
                                                                                                        target="_blank">Create New</a>
                            <div class="select-wrapper">
                                <div class="select">
                                    <input class="custom-option" for="SubjectId" hidden="hidden"
                                           id="SubjectId" name="SubjectId"
                                           value="5a92faf2-ead2-4014-96aa-b8ae0d25d444"></input>
                                    <div class="select__trigger">
                                        <span>AI Learning</span>
                                        <div class="arrow"><i class="fa-solid fa-caret-down"></i></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option" data-text="all"
                                              data-value="" value="">Please Select...</span><span class="custom-option selected" data-text="AI Learning"
                                                                                                  data-value="5a92faf2-ead2-4014-96aa-b8ae0d25d444"
                                                                                                  value="5a92faf2-ead2-4014-96aa-b8ae0d25d444">AI Learning</span><span class="custom-option" data-text="Biology"
                                                                                                                                                                       data-value="13879130-5fa2-4b1f-9fed-0710e623a021"
                                                                                                                                                                       value="13879130-5fa2-4b1f-9fed-0710e623a021">Biology</span><span class="custom-option" data-text="css1301"
                                                                                                                                                                                                                                        data-value="3ad644cc-e635-40ce-9d86-8ac7494ef499"
                                                                                                                                                                                                                                        value="3ad644cc-e635-40ce-9d86-8ac7494ef499">css1301</span><span class="custom-option" data-text="Database Management"
                                                                                                                                                                                                                                                                                                         data-value="227ba6f9-83ed-447c-a367-ad6617c41840"
                                                                                                                                                                                                                                                                                                         value="227ba6f9-83ed-447c-a367-ad6617c41840">
                                            Database
                                            Management
                                        </span><span class="custom-option"
                                                     data-text="Digital Literacy"
                                                     data-value="aa6155a1-b5c9-434d-ba1e-7420cb3380a5"
                                                     value="aa6155a1-b5c9-434d-ba1e-7420cb3380a5">
                                            Digital
                                            Literacy
                                        </span><span class="custom-option" data-text="Engg graphics"
                                                     data-value="6d768cbd-be37-4023-981e-de68ebc5cedc"
                                                     value="6d768cbd-be37-4023-981e-de68ebc5cedc">
                                            Engg
                                            graphics
                                        </span><span class="custom-option" data-text="english"
                                                     data-value="870a0f45-8759-4709-8230-fc422b250d49"
                                                     value="870a0f45-8759-4709-8230-fc422b250d49">english</span><span class="custom-option" data-text="java"
                                                                                                                      data-value="026309fb-cf4f-4d99-8a82-52a5e3f37061"
                                                                                                                      value="026309fb-cf4f-4d99-8a82-52a5e3f37061">java</span><span class="custom-option" data-text="Maths"
                                                                                                                                                                                    data-value="5f1f644c-95f0-4a73-bf67-57e2ecfb6be5"
                                                                                                                                                                                    value="5f1f644c-95f0-4a73-bf67-57e2ecfb6be5">Maths</span><span class="custom-option" data-text="Operational Research"
                                                                                                                                                                                                                                                   data-value="fde640b0-8ab0-47e6-afe5-15cb87e8247d"
                                                                                                                                                                                                                                                   value="fde640b0-8ab0-47e6-afe5-15cb87e8247d">
                                            Operational
                                            Research
                                        </span><span class="custom-option" data-text="social"
                                                     data-value="6785d3f2-6def-4ac5-aaaa-9e263969560b"
                                                     value="6785d3f2-6def-4ac5-aaaa-9e263969560b">social</span>
                                    </div>
                                </div>
                            </div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="SubjectId"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="QuestionTypeId">Question Type</label>
                            <div class="select-wrapper">
                                <div class="select">
                                    <input class="custom-option" for="QuestionTypeId"
                                           hidden="hidden" id="QuestionTypeId" name="QuestionTypeId"
                                           value="8371C70A-6569-4264-9B10-4F0A05B358C4"></input>
                                    <div class="select__trigger">
                                        <span>Multiple Choice Question</span>
                                        <div class="arrow"><i class="fa-solid fa-caret-down"></i></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option" data-text="all"
                                              data-value="" value="">Please Select...</span><span class="custom-option selected" data-text="Multiple Choice Question"
                                                                                                  data-value="8371C70A-6569-4264-9B10-4F0A05B358C4"
                                                                                                  value="8371C70A-6569-4264-9B10-4F0A05B358C4">
                                            Multiple Choice
                                            Question
                                        </span><span class="custom-option" data-text="Short Answer"
                                                     data-value="DBC9258C-FC4C-4786-9EC6-501992D2571B"
                                                     value="DBC9258C-FC4C-4786-9EC6-501992D2571B">Short Answer</span>
                                    </div>
                                </div>
                            </div>
                            <span class="invalid-message field-validation-valid"
                                  data-valmsg-for="QuestionTypeId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="IsActive">Status</label>
                            <div class="select-wrapper">
                                <div class="select">
                                    <input class="custom-option" for="IsActive" hidden="hidden"
                                           id="IsActive" name="IsActive" value="Active"></input>
                                    <div class="select__trigger">
                                        <span>Active</span>
                                        <div class="arrow"><i class="fa-solid fa-caret-down"></i></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option" data-text="all"
                                              data-value="" value="">Please Select...</span><span class="custom-option selected" data-text="Active"
                                                                                                  data-value="Active" value="Active">Active</span><span class="custom-option" data-text="Inactive" data-value="Inactive"
                                                                                                                                                        value="Inactive">Inactive</span>
                                    </div>
                                </div>
                            </div>
                            <input id="ActiveInactiveSelectList" name="ActiveInactiveSelectList" type="hidden"
                                   value="System.Collections.Generic.List`1[Microsoft.AspNetCore.Mvc.Rendering.SelectListItem]" />
                            <span class="invalid-message field-validation-valid" data-valmsg-for="IsActive"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label fw600" for="ImageFile">Question Image</label>
                            <input accept="image/*" class="form-control" id="ImageFile" name="ImageFile"
                                   type="file" />
                            <span class="invalid-message field-validation-valid" data-valmsg-for="ImageFile"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <a type="button" class="btn form-btn btn-secondary hover-boxshadow me-1" href="/question">
                    Back
                    To List
                </a>
                <button type="submit" class="btn form-btn btn-primary hover-boxshadow">
                    <span>Save & Next</span>
                </button>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden"
               value="CfDJ8MgDIJkAZUZHmCq2PFdmEqrSTSdTVtfzy5FkYMybr-GyP8dmXfALRmfpHAfBrXARnaO50_ZEKJZMq5GWwiYAelIOvbsJ1Y7OKtpEAGX5_V4QU0euKWgS94yyNwJ0-jVBol_-I8rSgxX1bsf0KfcSDwD36aoQmHsPWuOtJuROmoJ4tIgkvWpnmh0-OdJ9m-9Z3Q" />
    </form>
</section>

<div class="row">
    <div class="col-12">
        <div style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item fw-normal">
                    <a class="color-primarycolor opacity-50"
                       href="/question">Question Management</a>
                </li>
                <li class="breadcrumb-item fw-normal">
                    <a class="color-primarycolor opacity-50"
                       href="/question/viewrecord/8d0173b1-beda-4b0b-b7ab-ec1e20958dc7">View Question</a>
                </li>
                <li class="breadcrumb-item fw-normal active">Add/Edit Answer</li>
            </ol>
        </div>
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <h4 class="pagetitle mb-sm-0 fw600">Add/Edit Answer</h4>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link hover-color-secondarycolor"
           href="/question/edit/8d0173b1-beda-4b0b-b7ab-ec1e20958dc7">Edit Question</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Add/Edit Answer</a>
    </li>
</ul>

<section class="section">
    <form action="/answer/edit/8d0173b1-beda-4b0b-b7ab-ec1e20958dc7" class="form-horizontal"
          enctype="multipart/form-data" method="post" role="form">
        <input id="Id" name="Id" type="hidden"
               value="8d0173b1-beda-4b0b-b7ab-ec1e20958dc7" /><input id="QuestionId" name="QuestionId"
                                                                     type="hidden" value="8d0173b1-beda-4b0b-b7ab-ec1e20958dc7" /><input id="QuestionTypeCode"
                                                                                                                                         name="QuestionTypeCode" type="hidden" value="MCQ" /><input id="QuestionTitle" name="QuestionTitle"
                                                                                                                                                                                                    type="hidden" value="sad" /><input id="QuestionTypeName" name="QuestionTypeName" type="hidden"
                                                                                                                                                                                                                                       value="Multiple Choice Question" />
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600 mb-4">Question Information</h2>
            <div class="row">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <div><label class="form-label fw600" for="QuestionTitle">Question Title</label></div>
                        <div> sad</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <div><label class="form-label fw600" for="QuestionTypeName">Question Type</label></div>
                        <div> Multiple Choice Question</div>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="fs-20 fw600 pt-2 mb-4">Answer Information</h2>
            <div class="row mb-2">
                <div class="form-group">
                    <div class="fw600">Note:</div>
                    <ul class="text-info mb-0">
                        <li>Empty answer option will be ignored.</li>
                        <li>Check the radio button to set the correct answer for the question.</li>
                        <li>
                            If there are existing students who took the exam that contains this question and you
                            change the answer text or change the correct answer now, their result will be
                            recalculated. This is to solve the problem of the teacher&#x27;s mistake of
                            selecting the wrong answer.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row text-danger">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
            </div>
            <input id="AnswerOptions_0__Id" name="AnswerOptions[0].Id" type="hidden" value="" />
            <div class="d-flex align-items-center mb-1">
                <input class="form-check-input mt-0 me-2" type="radio" id="AnswerOptions[0].IsCorrect"
                       name="CorrectAnswer" value="0" style="width:1.2em;height:1.2em;vertical-align:middle;">
                <textarea class="form-control text-box single-line answerinput" type="text"
                          placeholder="Fill in answer option" name="AnswerOptions[0].Text" rows="1"
                          id="AnswerOptions_0__Text">
</textarea>
            </div>
            <div id="otheroptions">
            </div>
            <div class="mt-2">
                <button id="addoption" type="button" class="btn form-btn btn-secondary hover-boxshadow me-1">
                    <i class="fa-solid fa-plus"></i> Add Answer Option
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/question">Back To List</a>
                <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/question/edit">
                    <i class="fa-solid fa-plus"></i> Add Another Question
                </a>
                <button type="submit" class="btn form-btn btn-primary hover-boxshadow">Save</button>
            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden"
               value="CfDJ8MgDIJkAZUZHmCq2PFdmEqo1bz-PRd06ARf0t_40RW3YtFi0YJqjJ6PZ1_BN6IdwlPM_5lAsI3LD8w5cEf1i6mZ6nnGRd0MbvQYHF4IIi0YhrCyNzDwgE3XNWkR2h127w8Wq3FHDhZlXNqfD2xkIFgI1iJteS2VjYjUUbx4uJhIzG2-uziU4gvqvh9-CAbiTng" />
    </form>
</section>


<script>
    $("#addoption").click(function () {
        var number = $('textarea.answerinput').length;
        if ("MCQ" == "MCQ") {
            $("#otheroptions").append("<div class='d-flex align-items-center mb-1'><input class='form-check-input mt-0 me-2' type='radio' name='CorrectAnswer' id='AnswerOptions[" + number + "].IsCorrect' value='" + number + "' style='width:1.2em;height:1.2em;vertical-align:middle'><textarea class='form-control text-box single-line answerinput' id='AnswerOptions_" + number + "__Text' name='AnswerOptions[" + number + "].Text' type='text' value='' placeholder='Fill in answer option' rows='1'></textarea></div>");
        } else if ("MCQ" == "SA") {
            $("#otheroptions").append("<div class='row align-items-center mb-2 gx-0'><textarea class='form-control text-box single-line answerinput' id='AnswerOptions_" + number + "__Text' name='AnswerOptions[" + number + "].Text' value='' rows='1' type='text' placeholder='Fill in answer option'></textarea></div>");
        }
    });
</script>
