

<input id="Id" name="Id" type="hidden" value="d57a1e29-9687-4fc9-af11-6780f30b9222" />
<section class="section mt-3">
    <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
        <h2 class="fs-20 fw600 mb-4">Question Information</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="QuestionTitle">Question Title</label></div>
                    <div>What&#x27;s the difference between ERD and EERD</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <div><label class="fw600" for="SubjectName">Subject</label></div>
                        <div>Database Management</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <div><label class="fw600" for="QuestionTypeName">Question Type</label></div>
                        <div>Multiple Choice Question</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow mt-4">
        <h2 class="fs-20 fw600 mb-4">Other Information</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="CreatedAndModified_CreatedByName">Created By</label></div>
                    <div>Samantha Johnson</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div>
                        <label class="fw600" for="CreatedAndModified_FormattedCreatedOn">Created On</label>
                    </div>
                    <div class="datetimetext">2025-03-12T21:14</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div><label class="fw600" for="CreatedAndModified_ModifiedByName">Modified By</label></div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div>
                        <label class="fw600" for="CreatedAndModified_FormattedModifiedOn">Modified On</label>
                    </div>
                    <div class="datetimetext"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/question">Back To List</a>
            <a type="button" class="btn form-btn btn-secondary hover-boxshadow me-1"
               href="/answer/edit/d57a1e29-9687-4fc9-af11-6780f30b9222">Edit Answer</a>
            <a class="btn form-btn btn-primary hover-boxshadow"
               href="/question/edit/d57a1e29-9687-4fc9-af11-6780f30b9222">Edit Question</a>
        </div>
    </div>
</section>