

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">Question Management</h4>
        </div>
    </div>
</div>

<section class="section dashboard mt-3 position-relative w-100 h-100">
    <div class="bg-white rounded p-3 shadow position-relative w-100 h-100">
        <div class="pb-2">
            <a class="btn form-btn btn-primary hover-boxshadow hover-moveup" href="/question/edit">
                <i class="fa-solid fa-plus pe-1"></i> Add New Record
            </a>
            <a href="/question/import"
               class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup">
                <i class="fa-solid fa-file-excel pe-1"></i> Import From Excel
            </a>
            <span onclick="exportToExcel('question', 'Please wait. Table is still loading. Click this after table is loaded.')"
                  data-bs-toggle="tooltip" data-bs-placement="right"
                  title="You can control what you want to export to Excel before clicking this. For example, if you wish to export all the records, click &quot;Show All&quot; at the drop-down button below before clicking &quot;Export to Excel.&quot;"
                  class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup">
                <i class="fa-solid fa-file-excel pe-1"></i> Export to Excel
            </span>
            <span onclick="exportToPdf('question', 'Please wait. Table is still loading. Click this after table is loaded.')"
                  data-bs-toggle="tooltip" data-bs-placement="right"
                  title="You can control what you want to export to PDF before clicking this. For example, if you wish to export all the records, click &quot;Show All&quot; at the drop-down button below before clicking &quot;Export to PDF.&quot;"
                  class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup">
                <i class="fa-solid fa-file-pdf pe-1"></i> Export to Pdf
            </span>
        </div>
        <div class="spinner-container d-none">
            <div class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                <div class="py-3">
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong>
                        &nbsp;
                        Loading...
                    </strong>
                </div>
            </div>
        </div>
        <div id="question-partialview">
            <!-- display a dummy empty table while loading the data -->
            <div class="table-responsive mb-5">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="thead"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="py-4"></div>
            <div class="dummyfooter row justify-content-between mt-5">
                <div class="col-md-6">Showing 0 to 0 of 0 entries</div>
                <div class="col-md-6 text-end">Page 0 of Page 0</div>
            </div>
        </div>
    </div>
</section>

@section ScriptOptional {
    <script>
        var tableIdPrefix = "question";
        var fileName = "Question"; //the file name for excel and pdf file (Export to excel, pdf feature)
        var partialview = "question-partialview";
        var loadTableUrl = "/question/getpartialviewlisting";
        resetTable();

        function refreshTable(sort, search, pg, size) {
            if (sort == "undefined" || sort == undefined || sort == null) {
                sort = "";
            }
            if (pg == "undefined" || pg == undefined || pg == null) {
                pg = 1;
            }
            if (size == "undefined" || size == undefined || size == null) {
                size = "";
            }
            if (search == "undefined" || search == undefined || search == null) {
                let searchinput = document.querySelector('input[name="search"]');
                if (searchinput != null) {
                    if (searchinput.value == null || searchinput.value == "") {
                        search = "";
                    } else {
                        search = searchinput.value;
                    }
                } else {
                    search = "";
                }
            }
            $(".spinner-container").removeClass("d-none");
            var url = `${loadTableUrl}?sort=${sort}&search=${search}&pg=${pg}&size=${size}`;
            loadData(url);
        }

        function resetTable() {
            $(".spinner-container").removeClass("d-none");
            var url = loadTableUrl;
            loadData(url);
        }

        function loadData(url) {
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    $(`#${partialview}`).html(data);
                    formatDateTimeText();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                })
                .finally(() => {
                    $(".spinner-container").addClass("d-none");
                });
        }
    </script>
}